.screen {
    width: 100%;
    display: flex;
}


.carCreation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.carCreation form {
    width: 100%;
}

.saveBtn {
    margin-top: 2rem;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-with-unit {
    position: relative;
}

.input-with-unit .unit {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #6c757d;
}

.overTextForm {
    font-size: 0.8rem;
    background-color: var(--bs-body-bg);
    position: absolute;
    top: -.7rem;
    left: 1rem;
    z-index: 10;
    padding: 0 0.2rem 0 0.2rem;
}

.input-with-unit input:focus {
    outline: none;
    box-shadow: none;
    border-color: initial;
}

.carName {
    position: relative;
    margin-top: 1rem;
}

.line {
    display: block;
    border-top: var(--bs-border-color) solid 1px;

}

.carName input:focus {
    outline: none;
    box-shadow: none;
    border-color: initial;
}